<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple Schedule Solver</title>
</head>
<body>
   <h1>Les 6 heures de nage</h1>
   <p>Les « 6 heures de nage » sont une compétition amicale de nage avec palmes 
    se déroulant à la piscine d'Étampes. Elle est découpée en 12 relais de 30 minutes 
    chacun. Plusieurs équipes s'affrontent afin de réaliser la distance cumulée la 
    plus importante. Les bipalmes sont plus fréquemment utilisées mais les monopalmes 
    sont également autorisées.</p>
    
    <p>Chaque équipe est donc composée de 12 participants. Chaque participant donne
    ses disponibilités, c'est-à-dire les créneaux où il est disponible pour nager
    entre 13h00 et 19h00. Le but est de concilier ces disponibilités pour avoir
    un seul nageur par créneau. On cherche à maximiser le nombre de nageurs en lice
    tout en n'en gardant que 12. Si on a moins de 12 participants, certains devront
    nager au moins 2 fois, mais ils risquent d'être moins performants du fait de la 
    fatigue. Si on a plus de 12 participants, il faudra faire des choix et en éliminer 
    (les éliminés pourront éventuellement intégrer une autre équipe...).</p>
</body>
</html>